*{margin: 0;}
.menu-img{width: 100%;
    height: 450px;

}

.about{font-size: 30px;}
.our{font-size: 18px;}
.out2{font-size: 18px;}
.offer{font-size: 39px; color:red; font-weight:700;line-height:50px;}
.services{font-size: 23px;}
.more-btn{margin-top: 110px; text-align: center;}
.read-more{width: 170px;height: 50px;font-size: 17px; background-color: red; font-weight: 500; border:none;}
.offer2{font-size:16px; margin-bottom: 40px;}
.projt-1{font-size: 20px;}
.projt-2{font-size: 46px; color: red; font-weight: 600;}
.projt-3{font-size: 15px; line-height: 28px;}
.row-bg{background-color: aliceblue;}
.service-sect{margin-top: 45px; margin-left: 120px;}
.pro-img{width: 100%; height: 70%;}
.client-sec{text-align: center;}
.cl-sec1{font-size: 22px;}
.cl-sec2{font-size: 45px; color:red; font-weight: 600; line-height:52px;}
.img8{margin-top:35px;}
.img9{margin-top: 35px;}
.cl-sec-img{background-color: aliceblue;}


